<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  Создание класса-фабрики через конструктор  -->
    <bean id="stationFactory" class="com.jetbulb.spring.overview.StationFactory"/>

    <!--  Создание через класс-фабрику  -->
    <bean id="electricityStation" factory-bean="stationFactory" factory-method="createElectricityStation"/>

    <!--  Создание через класс-фабрику  -->
    <bean id="waterpumpStation" factory-bean="stationFactory" factory-method="createWaterpumpStation"/>

</beans>